.date-time-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-body);
  color: var(--text-100);
  padding-right: 20px;
}

.date-form {
  padding-right: 10px;
}

.time-form {
  padding-right: 10px;
}
